<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/yfm.css" rel="stylesheet" />
<title>YFM - Your Farm Market</title>

<!-- Bootstrap -->
<link href="css/lavish-bootstrap.css" rel="stylesheet">


</head>
<body>
	<div class="container">
		<ul class="nav nav-pills">
			<li><a href="index.html">Home</a></li>
			<li class="active"><a href="product.html">Products</a></li>
			<li><a href="about.html">About</a></li>
		</ul>

		<div>
			<h1>Your Farm Market</h1>
			<p class="lead">Fresh vegetables straight from the farm to your
				table!</p>
			<p class="small black">Select your items and click 'Add to Cart'.
				Checkout is handled through PayPal and your order will be packed and
				ready for pick up at our YFM location at 1147 Dundas St. E. in the
				Home Building Centre parking lot.</p>
		</div>

		<div id="productList">
			<script id="productTemplate" type="text/template">
		<div class="table-responsive">
			<table>
				<tr><th scope="col"><%= item_name %></th><th scope="col">&nbsp;</th></tr>
				<tr>
					<td><img src="<%= product_image %>"
						class="img-responsive"
						alt="<%= alt_tag %>"></td>
					<td>From <%= farm_name %><br>
						<div id="product<%= id %>"></div></td>
				</tr>
			</table>
		</div>		
		</script>

		</div>
	</div>
	<!-- /.container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- underscore is used to render the template with the object from the api -->
	<script src="js/underscore-min.js"></script>
	<!-- backbone is a router that respects the back button -->
	<script src="js/backbone-min.js"></script>
	<script src="phonegap.js"></script>
	<!-- this is our javascript -->
	<script src="js/products.js"></script>
</body>
</html>
