form[target=paypal] tr:first-child {
	display:none;	
}

#splash {
	background-image:url(../img/flickr_splashscreen-copy.png);
	background-repeat:no-repeat;
	width:800px;
	height:1200px;
}

td { 
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.black {
	color:black;
}
